<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="javax.management.remote.rmi" level="WARN"/>
    <logger name="javax.management" level="WARN"/>

    <springProperty name="LOG_PATH" source="logging.file.path" defaultValue="./logs"/>

    <!-- MQTT 클라이언트는 경고 이상만 출력 -->
    <logger name="org.eclipse.paho" level="WARN"/>

    <!-- 트레이스 로거 모듈 로그 출력 허용 -->
    <logger name="com.nhnacademy.traceloggermodule" level="INFO"/>

    <!-- 파일 로그 -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp timeZone="Asia/Seoul"/>
                <mdc>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                    <includeMdcKeyName>source</includeMdcKeyName>
                    <includeMdcKeyName>messageId</includeMdcKeyName>
                </mdc>
                <logstashMarkers/>
                <arguments/>
                <loggerName/>
                <threadName/>
                <message/>
            </providers>
        </encoder>
    </appender>

    <!-- 콘솔 로그 -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp timeZone="Asia/Seoul"/>
                <mdc>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                    <includeMdcKeyName>source</includeMdcKeyName>
                    <includeMdcKeyName>messageId</includeMdcKeyName>
                </mdc>
                <logstashMarkers/>
                <arguments/>
                <loggerName/>
                <threadName/>
                <message/>
            </providers>
        </encoder>
    </appender>

    <!-- 최종 루트 로그 연결 -->
    <root level="INFO">
        <appender-ref ref="JSON_FILE"/>
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
